#start
    padding: 40px 0
    .imgbox
        position: fixed
        img
            width: 200px

    .textbox
        position: fixed
        ul
            display: flex
            margin: 0 0 0 100px
            font-weight: 500
            .port
                margin: 0 50px 0 50px
            .team
                margin: 0 50px 0 50px