#welcome
    .box
        width: 200px
        .imgbox
            position: absolute
            z-index: -1
            top: -60px
            left: -1px
        .textbox
            h1
                color: #ffffff
                justify-content: center
                font-weight: 700
                font-size: 30px
